/*Add CSS styles here*/
#map {    
    height: 680px;    
    width: 100%;
    display: inline-block;
    }
    
    .legend-control-container {
        width: 325px;  
        height: 215px;  
        background-color: rgba(255,255,255,0.8);  
        padding: 10px;  
        line-height: 20px;  
        text-align: left;
        font-size: 16px;
        border: solid gray 1px; 
    }

    .sequence-control-container {
        width: 350px;  
        height: 30px;  
        background-color: rgba(255,255,255,0.8);  
        padding: 10px;  
        line-height: 45px;  
        text-align: center;  
        border: solid gray 1px; 
    }

    .range-slider {  
        width: 250px;  
    }  
    
    .step {  
        width: 40px;  
    }  
    
    .step img {  
        width: 100%;
        height: auto;  
    }  
    
    #forward {
        float: right;
    }
        
    #reverse {  
        float: left;  
    }
.leaflet-popup-content p {
    margin: 0.2em 0;
}